Repository dip-m/pista: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-tests

backend-tests:
  name: Backend Tests
  entry: python run_tests.py backend/tests/unit/ backend/tests/integration/ -v --tb=short -x --no-cov
  language: system
  pass_filenames: false
  always_run: false

frontend-tests:
  name: Frontend Tests
  entry: node frontend/test-ci.js
  language: system
  pass_filenames: false
  always_run: false
  require_serial: true

clean up .md files
  README.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_QUICKSTART.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/DEPLOY_BACKEND_RENDER.md
  docs/DEPLOY_RAILWAY.md
  docs/ENV_SETUP.md
  docs/FREE_HOSTING_ALTERNATIVES.md
  docs/FRONTEND_DEPLOYMENT.md
  docs/FRONTEND_ENV_SETUP.md
  docs/FRONTEND_OAUTH_SETUP.md
  docs/FRONTEND_UPDATE_SUMMARY.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MIGRATION_REVIEW.md
  docs/NETLIFY_ENV_SETUP.md
  docs/POSTGRES_MIGRATION_GUIDE.md
  docs/POSTGRES_MIGRATION_STATUS.md
  docs/POSTGRES_OAUTH_MIGRATION.md
  docs/POSTGRES_ONLY_MIGRATION.md
  docs/POSTGRES_SWITCH_SUMMARY.md
  docs/PRODUCTION_NOTES.md
  docs/QUICK_MIGRATION_STEPS.md
  docs/QUICK_START.md
  docs/QUICK_START_TESTING.md
  docs/README.md
  docs/README_DEPLOYMENT.md
  docs/README_TESTING.md
  docs/SCRIPTS_README.md
  docs/SETUP_TESTING_SUMMARY.md
  docs/SQLITE_OAUTH_MIGRATION.md
  docs/SUPABASE_QUICK_START.md
  docs/SUPABASE_SETUP.md
  docs/TESTING.md
  docs/TEST_FIXES.md
Due: none

DB close issue resolution
  backend/similarity_engine.py
Due: backend-tests

Ui uplift
  frontend/MOBILE_API_CONFIG.md
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/features/Marketplace.jsx
  frontend/src/components/features/PistaChat.jsx
  frontend/src/config/api.js
  frontend/src/index.js
  frontend/src/services/auth.js
  frontend/src/styles/dark-mode.css
  frontend/src/styles/index.css
  frontend/src/utils/httpClient.js
  frontend/src/utils/serviceWorkerRegistration.js
Due: frontend-tests

Customer journeys start v1
  backend/chat_nlu.py
  backend/main.py
  backend/reasoning_utils.py
  backend/similarity_engine.py
  frontend/public/Pista logo both backgrounds without VB - Copy (2).png
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/rebuild-android.ps1
  frontend/src/App.jsx
  frontend/src/components/features/FeatureBlacklistAdmin.jsx
  frontend/src/components/features/PistaChat.jsx
  frontend/src/styles/dark-mode.css
  frontend/src/styles/index.css
  scripts/deploy-backend.sh
  start-backend.ps1
  start-backend.sh
  start-frontend.ps1
  start-frontend.sh
Due: backend-tests, frontend-tests

fixing UI issues
  frontend/src/components/features/PistaChat.jsx
Due: frontend-tests

mobile first
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  frontend/assets/icon/icon.png
  frontend/assets/splash/splash.png
  frontend/generate-android-icons.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/features/PistaChat.jsx
  frontend/src/styles/index.css
Due: frontend-tests

login with Google, BGG and email
  .env.dev
  backend/auth_utils.py
  backend/bgg_collection.py
  backend/main.py
  docs/FRONTEND_OAUTH_SETUP.md
  docs/GOOGLE_OAUTH_SETUP.md
  frontend/.env.dev
  frontend/README.md
  frontend/android/app/capacitor.build.gradle
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/capacitor.settings.gradle
  frontend/capacitor.config.json
  frontend/env.template.dev
  frontend/env.template.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/features/Login.jsx
  frontend/src/components/features/OAuthCallback.jsx
  frontend/src/components/features/Profile.jsx
  frontend/src/config/api.js
  frontend/src/services/auth.js
  get-ngrok-url.ps1
Due: backend-tests, frontend-tests

Path conditions:
  backend-tests: any of: ^backend/.*\.py$
  frontend-tests: any of: ^frontend/src/.*\.(js|jsx)$
